.base {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--md-ref-palette-primary95);
  }
  

  
  .black_background {
    width: 100%;
    height: 1083px;
    z-index: 0;
    position: absolute;
    top: 0;
    background-color: var(--md-ref-palette-primary95);
  }
  
  .another_back_effect {
    width: 100%;
    height: 350px;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: var(--md-ref-palette-primary100);
  }
  
  .container_for_event_headings {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 3;
    position: absolute;
    justify-content: flex-start;
    top: 100px;
    left: 8%;
  }
  
  .event_text_header h2
    {
        font-size: 3rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 40px;
      }
  
  .event_text_header h3 {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 45px;
  }
  
  .event_text_header pre {
    font-size: 2.75rem;
    margin-left: 40px;
  }
  
  .event_card {
    height: 200px;
    width: 200px;
    z-index: 2;
  }
  
  .event_card img {
    image-resolution: 100%;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
  }
  
 
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    width: 900px;
    background-color: var(--md-ref-palette-primary90);
    z-index: 3;
    border-radius: 20px;
    position: absolute;
    top: 500px;
    left: 8%; text-wrap:nowrap;
    box-shadow: 2px 2px 5px black, inset 2px 2px 4px black;
    overflow: hidden; /* Hides any content that overflows */
    
  }
  .longInfo1 {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 20px;
    background-color: var(--md-ref-palette-primary80);
    border-radius: 10px;
    margin-bottom: 20px;
    text-wrap:wrap;
    max-height: 250px;
  }
  .card1 p {
    font-weight: bold;
    padding: 40px;
    font-size: 1.25rem;
    margin-top: 20px;
  }
  button {
    background-color: var(--md-ref-palette-primary80);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50%;
    border: none;
    cursor: pointer;
  }
  
  .card2 {
    height: 600px;
    width: 600px;
    background-color: var(--md-ref-palette-primary90);
    z-index: 2;
    border-radius: 20px;
    position: absolute;
    top: 570px;
    left: 9%;
    box-shadow: 7px 6px 8px black, inset 5px 6px 4px black;
  }
  
 
  