.ok {
    background: transparent;
    display: flex;
    justify-content: center;
    font-family: consolas;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 7;
}

.face {
    width: 300px;
    height: 200px;
    transition: 0.5s ease-in-out;
}

.face1 {
    position: relative;
    background: rgb(26, 72, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.cards:hover .face1 {
    background: #3631cf;
    transform: translateY(0);
}

.content {
    opacity: 0.9;
    transition: 0.5s;
}

.cards:hover .content {
    opacity: 1;
}

.content img {
    width: 300px;
    height: 200px;
}

.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.face2 {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Change to center */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    flex-wrap: wrap; 
    overflow: hidden;
    text-align: center; 
}


.cards:hover .face2 {
    transform: translateY(0);
}

.face2 .content pre {
    margin: 0;
    padding: 0;
    display: ruby-text-container;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.face2 a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.face2 a:hover {
    background: #333;
    color: #fff;
}
