.container {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}

.title-bar {
    @apply max-w-7xl;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.title {
    @apply text-2xl font-bold text-gray-800 col-span-2;
    display: flex;
    justify-content: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.subtitle {
    @apply text-lg text-center text-gray-600 col-span-2;
}

.description {
    @apply text-base text-gray-800 col-span-2;
}

.content {
    @apply grid grid-cols-1 gap-8 p-20 justify-start items-center shadow rounded-lg;
}

.base {
    @apply flex flex-col w-max h-auto items-start ;
}

.title1 {
    @apply text-2xl font-bold m-0 p-0;
}

.gridContainer {
    @apply grid gap-y-0 gap-28 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-start;
    /* Adjusted gap to 4px between items */
}
